.grid-container {
    display: grid;
    grid-template-columns: 700px 400px;
    grid-template-rows: auto;
    grid-gap: 10px;
}

.small-1 {
    grid-column: 1 / span 1;
}

.small-2 {
    grid-column: 1 / span 1;
}

.large {
    grid-column: 2 / span 1;
    grid-row: 1 / span 2;
}

.skill-section {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.skill {
    display: flex;
    align-items: center;
}

.skill-name {
    margin-right: 10px;
    font-size: 20px;
    width: 150px;
    /* Add additional styles for the skill icon */
}

.skill-bar {
    width: 200px;
    height: 10px;
    border: #ffffff solid 1px;
    border-radius: 50px;
}

.skill-level {
    height: 100%;
    background-color: #CE1212;
    border-radius: 5px;
}

.skill-percentage {
    margin-left: 10px;
}

.skills-section{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;
}

.skill-links{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.skills-section, .links-section{
    flex: 1;
}

.link {
    height: 70px;
}

.link-name{
    margin-left: 10px;
}