*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
    font-style: normal;
    background-color: var(--grey-3);
    font-size: var(--base-font-size);
    color: #ffffff;
    font-size: 16px;
}

.container {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.sub-container {
    padding: 20px 20px;
    background-color: var(--grey-3);
    border-radius: 15px;
    box-shadow: 0 4px 18px var(--grey-1);
}

.sub-content{
    background-color: var(--grey-3);
}

@media (max-width: 640px) {
    .container {
        margin: 0 30px;
    }    
    *{
        font-size: 12px;
    }
    .home-image img{
        max-width: 260px;
    }
}

@media (min-width: 641px) and (max-width: 720px) {
    .container {
        margin: 0 50px;
    }    
    *{
        font-size: 12px;
    }

}

@media (min-width: 721px) and (max-width: 1280px) {
    .container {
        margin: 0 100px;
    }    
    *{
        font-size: 14px;
    }
}
 

.content{
    padding: 80px 0;
}

.tags{
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
}

.tag{
    margin: 10px 0px 10px 10px;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: #2C2C2E;
    color: #ffffff;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    /* identical to box height, or 150% */

    display: flex;
    align-items: center;
    letter-spacing: 0.1em;
}


/*Typography Root*/
:root {
    --font-family: 'Poppins', sans-serif;
    --font-weight-regular: 400;
    --font-weight-medium: 500;
    --font-weight-semibold: 600;
    --font-weight-extrabold: 700;
    --base-font-size: 16px;

    /*Text Color*/
    --heading-1-color: #fdfdfd;
    --heading-2-color: #ededed;
    --heading-3-color: #dddddd;
    --paragraph-color: #9a9a9a;
    --black-color: #333333

    /*Line Height*/
    --line-height: 150%;

    /*Grey Shades*/
    /*0a0a0a 141414 1f1f1f 292929 333333 3d3d3d 474747 525252 5c5c5c 666666*/
    --grey-1: #0a0a0a;
    --grey-2: #141414;
    --grey-3: #1f1f1f;
    --grey-4: #292929;
    --grey-5: #333333;
    --grey-6: #3d3d3d;
    --grey-7: #474747;
    --grey-8: #525252;
    --grey-9: #5c5c5c;
    --grey-10: #666666;

}

h1, .h1{
    font-size: 1.8rem;
    font-weight: var(--font-weight-extrabold);
    font-family: var(--font-family);
    color: var(--heading-1-color);
    letter-spacing: 0.35rem;
    line-height: var(--line-height);
    text-transform: uppercase;
}

h2, .h2{
    font-size: 1.5rem;
    font-weight: var(--font-weight-semibold);
    font-family: var(--font-family);
    color: var(--heading-2-color);
    letter-spacing: 0.25rem;
    line-height: var(--line-height);
}

h3, .h3{
    font-size: 1.5rem;
    font-weight: var(--font-weight-medium);
    font-family: var(--font-family);
    color: var(--heading-3-color);
    letter-spacing: 0.25rem;
    line-height: var(--line-height);
}

h4, p, .p{
    font-size: 1.1rem;
    font-weight: var(--font-weight-regular);
    font-family: var(--font-family);
    color: var(--paragraph-color);
    letter-spacing: 0.2rem;
    line-height: var(--line-height);
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

@media (max-width: 900px) {
    .grid-container {
        grid-template-columns: 1fr;
    }
}


.bg-gy-1 {background-color: var(--grey-1)}
.bg-gy-2 {background-color: var(--grey-2)}
.bg-gy-3 {background-color: var(--grey-3)}
.bg-gy-4 {background-color: var(--grey-4)}
.bg-gy-5 {background-color: var(--grey-5)}
.bg-gy-6 {background-color: var(--grey-6)}
.bg-gy-7 {background-color: var(--grey-7)}
.bg-gy-8 {background-color: var(--grey-8)}
.bg-gy-9 {background-color: var(--grey-9)}
.bg-gy-10{background-color: var(--grey-10)}

.sd-gy-1 {box-shadow: 0 4px 18px var(--grey-1)}
.sd-gy-2 {box-shadow: 0 4px 18px var(--grey-2)}
.sd-gy-3 {box-shadow: 0 4px 18px var(--grey-3)}
.sd-gy-4 {box-shadow: 0 4px 18px var(--grey-4)}
.sd-gy-5 {box-shadow: 0 4px 18px var(--grey-5)}
.sd-gy-6 {box-shadow: 0 4px 18px var(--grey-6)}
.sd-gy-7 {box-shadow: 0 4px 18px var(--grey-7)}
.sd-gy-8 {box-shadow: 0 4px 18px var(--grey-8)}
.sd-gy-9 {box-shadow: 0 4px 18px var(--grey-9)}
.sd-gy-10{box-shadow: 0 4px 18px var(--grey-10)}